* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

main {
    background-color: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    font-size: 14px;
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #22c55e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #16a34a;
}

#contenedorPedidos input {
    margin-top: 8px;
}

#resultado {
    background-color: #0f172a;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}